<% title "Source of funds for KateBeeFoundation" %>
        <p id="contact_holder_link">
            <span><%= link_to_unless_current 'Partners', partners_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Links', link_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Targets', targets_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Objectives', objectives_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Funding', funding_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Vision', vision_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Activities', activities_path %></span>
        </p>

 <p>
  <div id="page_image_title_holder_funding">
  <!-- end #page_image_title_holder_funding --></div>

  <div id="page_image_holder_funding">
  <!-- end #page_image_holder_funding --></div>

  <div id="page_image_holder_footer">
  <!-- end #page_image_holder_footer --></div>
</p>




  <div id="contact_holder">

        <p>Funds are provided by the Jehovah Jireh (the Lord our provider) through projects and personal funds from KBF members </p>
        <p>How to support us:<br />
          Provide practical laboratory opportunities for beneficiaries<br />
          Offer intercessory prayers for the Foundation</p>
	<!-- end #contact_holder --></div>
 </p>

<p>
  <div id="gallery_slides">
  <!-- end #gallery_slides --></div>
</p>

